__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.env.*
*.venv
*.DS_Store
*.egg-info/
*.idea/
*.vscode/
*.pytest_cache/
*.coverage
*.mypy_cache/
*.pkl
*.ipynb_checkpoints
*.cache
*.swp
*.bak
*.tmp
*.orig
*.dist-info/
*.egg
*.whl
fastAPI.md